<div class="w-full mx-auto bg-white rounded-xl shadow p-6" data-controller="type-order">
  <div class="flex justify-between items-center mb-2">
    <div>
      <h2 class="font-bold text-2xl">Novo pedido</h2>
      <span class="text-neutral-500 text-base">Crie uma corrida ou entrega</span>
    </div>
    <div class="flex items-center gap-2">
      <span class="text-neutral-700 text-sm">Papel:</span>
      <span class="bg-green-500 text-white text-sm px-2 py-1 rounded"><%= current_user.user_type %></span>
    </div>
  </div>

<%= form_with(model: order, validate: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-2 gap-4 mb-4">
    <%= form.hidden_field :type_order, id: "tipo-input", value: "ride", data: { type_order_target: "typeInput" } %>
    <div class="flex gap-4 mb-4">
      <button type="button" data-type-order-target="rideBtn" data-action="click->type-order#selectRide" class="flex items-center gap-2 px-4 py-2 rounded bg-primary-base text-white font-semibold focus:outline-none">
        <%= inline_svg_tag 'svg/car.svg', class: 'w-4 h-4 inline' %>
        Corrida
      </button>
      <button type="button" data-type-order-target="deliveryBtn" data-action="click->type-order#selectDelivery" class="flex items-center gap-2 px-4 py-2 rounded border border-neutral-300 bg-neutral-base text-neutral-700 font-semibold focus:outline-none">
        <%= inline_svg_tag 'svg/package.svg', class: 'w-4 h-4 inline' %>
        Entrega
      </button>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mb-4">
    <div>
      <%= form.label :departure_address, 'Endereço de partida', class: "block text-sm font-medium text-neutral-700 mb-1" %>
      <%= form.text_field :departure_address, placeholder: " Rua A, 123", class: "w-full border border-neutral-200 rounded px-3 py-2" %>
    </div>
    <div>
      <%= form.label :destination_address, 'Endereço de destino', class: "block text-sm font-medium text-neutral-700 mb-1" %>
      <%= form.text_field :destination_address, placeholder: " Av. B, 456", class: "w-full border border-neutral-200 rounded px-3 py-2" %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mb-4">
    <div>
      <%= form.label :order_status, 'Status do pedido', class: "block text-sm font-medium text-neutral-700 mb-1" %>
      <%= form.text_field :order_status, value: "pending", placeholder: "Pendente", class: "w-full border border-neutral-200 rounded px-3 py-2 cursor-not-allowed", disabled: true %>
    </div>
    <div>
      <%= form.label :order_value, 'Valor do pedido', class: "block text-sm font-medium text-neutral-700 mb-1" %>
      <%= form.text_field :order_value, placeholder: " 50,00", class: "w-full border border-neutral-200 rounded px-3 py-2" %>
    </div>
  </div>

  <div class="mb-4" data-type-order-target="descriptionInput">
  <%= form.label :description_items, 'Descrição dos itens', class: "block text-sm font-medium text-neutral-700 mb-1" %>
  <%= form.text_field :description_items, placeholder: " 2 pacotes, 1 caixa...", class: "w-full border border-neutral-200 rounded px-3 py-2" %>
  </div>
  
  <div>
    <%= form.submit "Publicar pedido", class: "bg-neutral-400 text-white px-6 py-2 rounded font-semibold mt-2" %>
  </div>
<% end %>
</div>






