<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>


<div class="card flex justify-center bg-neutral-lighter w-full shadow-md rounded-3xl">
  <div class="mx-auto">
      <h1>Users</h1>
  <div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<form action="<%= destroy_user_session_path %>" method="post" style="display:inline">
  <input type="hidden" name="_method" value="delete">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit">Sair</button>
</form>
  </div>

</div>


