<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<form action="<%= destroy_user_session_path %>" method="post" style="display:inline">
  <input type="hidden" name="_method" value="delete">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit">Sair</button>
</form>

<h1 class="text-3xl text-primary font-bold underline">
  Hello world!ssssssssssssssssssssssssssssswsssssssssdqqwssssssss
</h1>
