<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label :user_id, style: "display: block" %>
  <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :type_order, style: "display: block" %>
    <%= form.text_field :type_order %>
  </div>

  <div>
    <%= form.label :departure_address, style: "display: block" %>
    <%= form.textarea :departure_address %>
  </div>

  <div>
    <%= form.label :destination_address, style: "display: block" %>
    <%= form.textarea :destination_address %>
  </div>

  <div>
    <%= form.label :order_status, style: "display: block" %>
    <%= form.text_field :order_status %>
  </div>

  <div>
    <%= form.label :request_time, style: "display: block" %>
    <%= form.datetime_field :request_time %>
  </div>

  <div>
    <%= form.label :accept_time, style: "display: block" %>
    <%= form.datetime_field :accept_time %>
  </div>

  <div>
    <%= form.label :finished_time, style: "display: block" %>
    <%= form.datetime_field :finished_time %>
  </div>

  <div>
    <%= form.label :order_value, style: "display: block" %>
    <%= form.text_field :order_value %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
