<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id_id %>
  </p>

  <p>
    <strong>Type order:</strong>
    <%= order.type_order %>
  </p>

  <p>
    <strong>Derpature address:</strong>
    <%= order.derpature_address %>
  </p>

  <p>
    <strong>Destination address:</strong>
    <%= order.destination_address %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Request time:</strong>
    <%= order.request_time %>
  </p>

  <p>
    <strong>Accept time:</strong>
    <%= order.accept_time %>
  </p>

  <p>
    <strong>Finished time:</strong>
    <%= order.finished_time %>
  </p>

  <p>
    <strong>Order value:</strong>
    <%= order.order_value %>
  </p>

</div>
