<div id="<%= dom_id order %>">

  <p>
    <strong>Cliente:</strong>
    <%= order.user&.name || '-' %>
  </p>

  <p>
    <strong>Type order:</strong>
    <%= order.type_order %>
  </p>

  <p>
    <strong>Departure address:</strong>
    <%= order.departure_address %>
  </p>

  <p>
    <strong>Destination address:</strong>
    <%= order.destination_address %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Request time:</strong>
    <%= order.request_time %>
  </p>

  <p>
    <strong>Accept time:</strong>
    <%= order.accept_time %>
  </p>

  <p>
    <strong>Finished time:</strong>
    <%= order.finished_time %>
  </p>

  <p>
    <strong>Order value:</strong>
    <%= order.order_value %>
  </p>

  <p>
    <strong>Description items:</strong>
    <%= order.description_items %>
  </p>

</div>
