<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<h1>Orders</h1>

<%= form_with url: request.path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :description_items, 'Descrição do item:' %>
    <%= f.text_field :description_items, value: params[:description_items] %>
  </div>
  <div>
    <%= f.label :order_value_sort, 'Ordenar por valor:' %>
    <%= f.select :order_value_sort, [['Crescente', 'asc'], ['Decrescente', 'desc']], selected: params[:order_value_sort] %>
  </div>
  <div>
    <%= f.label :date_sort, 'Ordenar por data:' %>
    <%= f.select :date_sort, [['Crescente', 'asc'], ['Decrescente', 'desc']], selected: params[:date_sort] %>
  </div>
  <%= f.submit 'Filtrar' %>
<% end %>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", order %>
    </p>
  <% end %>
</div>

<%= link_to "New order", new_order_path %>
